@model IEnumerable<Bookstore.Models.Author>

@{
    ViewData["Title"] = "Authors List";
}

<h1>Authors Directory</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Author</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Biography
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <strong>@Html.DisplayFor(modelItem => item.FullName)</strong>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
        </tr>
}
    </tbody>
</table>
